*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    
   .wrapp-input{
    position: relative;
   }

   .icon-eye {

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .4s ease all ;
   }

   .icon-eye:hover {
    color: steelblue;
   }